.input:focus {
    outline: none;
}

.inputField {
    width: 100%;
    height: 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--black-color);
    border: var(--border);
    background-color: var(--white--color);
}
.input::placeholder {
    color: var(--grey-color);
}

.inputWrapper {
    height: 50px;
    position: relative;
    width: 100%;
}

.superInput {

}

.errorInput {
    border: 1px solid #CC0000;
}
.error {
    margin: -20px 0 -18px 0;
    font-size: 12px;
    color: #cc0000;
}

/*.inputLabel {*/
/*    font-weight: 400;*/
/*    font-size: 13px;*/
/*    line-height: 20px;*/
/*    color: var(--grey-color);*/

/*    position: absolute;*/
/*    z-index: 2;*/
/*    top: -10px;*/
/*}*/
.inputEye {
    position: absolute;
    right: 17px;
    bottom: 13px;
    cursor: pointer;
}
.inputEyeCrossLine {
    height: 2px;
    width: 30px;
    transform: rotate(-45deg);
    background-color: var(--black-color);
    position: absolute;
    left: 88%;
    top: 53%;
    cursor: pointer;
}
.eyeWrapper {
    position: relative;
}
.eye {
    position: absolute;
    right: 0;
    bottom: 5px;
    cursor: pointer;
}
.hr {
    position: absolute;
    right: 0;
    bottom: 4px;
    border: 1px solid var(--black-color);
    transform: rotate(45deg);
    width: 23px;
    height: 1px;
}

.inputLabel {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #24254A;
    opacity: 0.5;
    margin-top: 15px;
    margin-bottom: -5px;
}